<!doctype html>
<html>
    <body>
    {% include 'nav.html' %}

    {% block content %}

    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           {% for message in messages %}
           <li<{{ message }}</li>
           {% endfor %}
        </ul>
     {% endif %}
    {% endwith %}



        <div style="padding-left:16px">
            <h2>Choose to add Sensors to Cluster or to Node</h2>
            <form action = "" method = "POST">

            Cluster or Node ?<br>
            <select name = "clusterornode">
                <option value = "cluster">cluster</option>
                <option value = "node">node</option>
            </select>
            </br>

            <p><input type = "submit" value = "submit" /></p>
            </form>

            {% if error %}
            <p><strong>Error:</strong> {{ error }}
            {% endif %}

        </div>
    {% endblock %}
    </body>
</html>