<!doctype html>
<html>
    <body>
    {% include 'nav.html' %}

    {% block content %}

    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           {% for message in messages %}
           <li<{{ message }}</li>
           {% endfor %}
        </ul>
     {% endif %}
    {% endwith %}



        <div style="padding-left:16px">
            <h2>Delete list of Sensors</h2>
            <form action = "" method = "POST">
            <p>Mark which Sensors to delete</p>

            {% for key in sensor_database.keys() %}
            <input type="checkbox" name={{key}} value={{key}}> {{key}} <br>
            {% endfor %}

            <p><input type = "submit" value = "submit" /></p>
            </form>

            {% if error %}
            <p><strong>Error:</strong> {{ error }}
            {% endif %}

        </div>
    {% endblock %}
    </body>
</html>