<!doctype html>
<html>
    <body>
    {% include 'nav.html' %}

    {% block content %}


        <div style="padding-left:16px">

            {% for key, value in node_database.items() %}

            <p>{{key}}</p>
            <div style="padding-left:50px; border-bottom:1px solid green">
                <p>state: {{value['state']}}</p>
                <p>street: {{value['street']}}</p>
                <p>cluster: {{value['cluster_id']}}</p>
                <p>sensor list: {{value['sensor_list']}}</p>
            </div>

            {% endfor %}
        </div>
    {% endblock %}
    </body>
</html>