<!doctype html>
<html>
    <body>
    {% include 'nav.html' %}

    {% block content %}



        <div style="padding-left:16px">
            <h2>Request current data readings from all sensors connected to a cluster</h2>

    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
        </ul>
     {% endif %}
    {% endwith %}

            {% for key, value in cluster_database.items() %}

            <p>{{key}}</p>
            <div style="padding-left:50px; padding-bottom:10px; border-bottom:1px solid green">
                <p>cluster: {{key}}</p>
                <a href = "getclusterdata/{{key}}" target = "_self">Request data from this cluster</a>
            </div>

            {% endfor %}
        </div>
    {% endblock %}
    </body>
</html>