<!doctype html>
<html>
    <body>
    {% include 'nav.html' %}

    {% block content %}

    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
        </ul>
     {% endif %}
    {% endwith %}

        <div style="padding-left:16px">

            {% for key, value in sensor_database.items() %}

            <p>{{key}}</p>
            <div style="padding-left:50px; padding-bottom:10px; border-bottom:1px solid green">
                <p>state: {{value['state']}}</p>
                <p>street: {{value['street']}}</p>
                <p>cluster: {{value['cluster_id']}}</p>
                <p>node: {{value['node_id']}}</p>
                <p>sensor type: {{value['sensor_type']}}</p>
                <a href = "updatesensorinfo/{{key}}" target = "_self">Update this sensor</a>
            </div>

            {% endfor %}
        </div>
    {% endblock %}
    </body>
</html>