<!doctype html>
<html>
    <body>
    {% include 'nav.html' %}
    {% block content %}
    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
        </ul>
     {% endif %}
    {% endwith %}



        <div style="padding-left:16px">

            <h2>Sensor Information Update Page</h2>
            <form action = "" method = "POST">

                <p>Sensor{{sensor_info['id']}}:</p>
                <div style="padding-left:50px;">
                    <p>state: {{sensor_info['state']}}
                        <select name = "state">
                            <option value = 'active'>Active</option>>
                            <option value = 'inactive'>Inactive</option>>
                        </select>
                    </p>
                    <p>street: {{sensor_info['street']}} <input type = "text" name = "street"></p>
                    <p>cluster: {{sensor_info['cluster']}}</p>
                    <p>node: {{sensor_info['node']}}</p>
                    <p>sensor type: {{sensor_info['sensor_type']}} Can't be changed</p>
                    <p><input type = "submit" value = "submit" /></p>
                </div>


            </form>

            {% if error %}
            <p><strong>Error:</strong> {{ error }}
            {% endif %}

        </div>
    {% endblock %}
    </body>
</html>